/*unvisited link*/
a:link {
    Color: #0c319f;
}

/*visited link*/
a:visited {
    Color: #ba620a;
}

/*hovering over link*/
a:hover {
    Color: #09d2f5;
}

/*fieldset width*/
fieldset{
    display:inline;
}

table{
    margin-left:350px;
}